html {
  font-family: "Ubuntu Condensed", sans-serif;
}

.banner {
  background-image: url(../images/starfield.png);
  background-size: cover;
}

.banner-text, a {
  color: #fff;
  text-decoration: none;
}

.banner-content {
  padding-bottom: 20em;
  padding-top: 15em;
}

.banner-btn {

}
