html {
  font-family: "Ubuntu Condensed", sans-serif;
}

.banner {
  background-image: url("../images/starfield.png");
  background-size: cover;
}

.banner-text {
  color: #fff;
  text-decoration: none;
}

.btn {
  border-color: #90ccc3;
  color: #b4fff4;
  text-decoration: none;
}

.btn:hover {
  border-color: #90ccc3;
  color: #b4fff4;
  background-color: rgba(180, 255, 244, .2);
}

.banner-content {
  padding-bottom: 20em;
  padding-top: 15em;
}
